<a href="https://colab.research.google.com/github/rajguru9889/ML_LAB/blob/main/week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

In [ ]:
import pandas as pd

data = {
    2014: [100.5, 150.8, 200.9, 30000, 40000],
    2015: [12000, 18000, 22000, 30000, 45000],
    2016: [20000, 50000, 70000, 100000, 125000],
    2017: [50000, 60000, 70000, 80000, 90000]
}

salespersons = ['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti']

sales = pd.DataFrame(data, index=salespersons)
print(sales)

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000

In [ ]:
print("Row labels")
print(sales.index)

print("\nColumn labels")
print(sales.columns)

print("\nData types of each column")
print(sales.dtypes)

print("\nDimensions, shape, size, and values")
print("Dimensions:", sales.ndim)
print("Shape:", sales.shape)
print("Size:", sales.size)
print("Values:\n", sales.values)

print("\nLast two rows")
print(sales.tail(2))

print("\nFirst two columns")
print(sales.iloc[:, :2])

print("\nCreate Sales2 DataFrame")
data2 = {
    '2018': [160000, 110000, 500000, 340000, 900000]
}
sales2 = pd.DataFrame(data2, index=salespersons)
print(sales2)

print("\nCheck if Sales2 is empty")
print(sales2.empty)

Row labels
Index(['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti'], dtype='object')

Column labels
Index([2014, 2015, 2016, 2017], dtype='int64')

Data types of each column
2014    float64
2015      int64
2016      int64
2017      int64
dtype: object

Dimensions, shape, size, and values
Dimensions: 2
Shape: (5, 4)
Size: 20
Values:
 [[1.005e+02 1.200e+04 2.000e+04 5.000e+04]
 [1.508e+02 1.800e+04 5.000e+04 6.000e+04]
 [2.009e+02 2.200e+04 7.000e+04 7.000e+04]
 [3.000e+04 3.000e+04 1.000e+05 8.000e+04]
 [4.000e+04 4.500e+04 1.250e+05 9.000e+04]]

Last two rows
           2014   2015    2016   2017
Ankit   30000.0  30000  100000  80000
Shruti  40000.0  45000  125000  90000

First two columns
            2014   2015
Madhu      100.5  12000
Kusum      150.8  18000
Kinshuk    200.9  22000
Ankit    30000.0  30000
Shruti   40000.0  45000

Create Sales2 DataFrame
           2018
Madhu    160000
Kusum    110000
Kinshuk  500000
Ankit    340000
Shruti   900000

Check if Sales2 is empty
False

In [ ]:
import pandas as pd

# Initial Sales DataFrame
data = {
    2014: [100.5, 150.8, 200.9, 30000, 40000],
    2015: [12000, 18000, 22000, 30000, 45000],
    2016: [20000, 50000, 70000, 100000, 125000],
    2017: [50000, 60000, 70000, 80000, 90000]
}
salespersons = ['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti']
Sales = pd.DataFrame(data, index=salespersons)

# Sales2 DataFrame for 2018
sales_2018 = {
    '2018': [160000, 110000, 500000, 340000, 900000]
}
Sales2 = pd.DataFrame(sales_2018, index=salespersons)

In [ ]:
Sales[2018] = Sales2['2018']
print(Sales)

            2014   2015    2016   2017    2018
Madhu      100.5  12000   20000  50000  160000
Kusum      150.8  18000   50000  60000  110000
Kinshuk    200.9  22000   70000  70000  500000
Ankit    30000.0  30000  100000  80000  340000
Shruti   40000.0  45000  125000  90000  900000

In [ ]:
Sales_T = Sales.transpose()
print(Sales_T)

         Madhu     Kusum   Kinshuk     Ankit    Shruti
2014     100.5     150.8     200.9   30000.0   40000.0
2015   12000.0   18000.0   22000.0   30000.0   45000.0
2016   20000.0   50000.0   70000.0  100000.0  125000.0
2017   50000.0   60000.0   70000.0   80000.0   90000.0
2018  160000.0  110000.0  500000.0  340000.0  900000.0

In [ ]:
print(Sales[2017])

Madhu      50000
Kusum      60000
Kinshuk    70000
Ankit      80000
Shruti     90000
Name: 2017, dtype: int64

In [ ]:
print(Sales.loc[['Madhu', 'Ankit'], [2017, 2018]])

        2017    2018
Madhu  50000  160000
Ankit  80000  340000

In [ ]:
print(Sales.loc[['Shruti'], [2016]])

          2016
Shruti  125000

In [ ]:
# Sales.drop(index='Sumeet', inplace=True) # This line caused the error
Sales.loc['Sumeet'] = [196.2, 37800, 52000, 78438, 38852]
print(Sales)

            2014     2015      2016     2017      2018
Madhu      100.5  12000.0   20000.0  50000.0  160000.0
Kusum      150.8  18000.0   50000.0  60000.0  110000.0
Kinshuk    200.9  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  30000.0  100000.0  80000.0  340000.0
Shruti   40000.0  45000.0  125000.0  90000.0  900000.0
Sumeet     196.2  37800.0   52000.0  78438.0   38852.0

In [ ]:
Sales.drop(columns=[2014], inplace=True)
print(Sales)

            2015      2016     2017      2018
Madhu    12000.0   20000.0  50000.0  160000.0
Kusum    18000.0   50000.0  60000.0  110000.0
Kinshuk  22000.0   70000.0  70000.0  500000.0
Ankit    30000.0  100000.0  80000.0  340000.0
Shruti   45000.0  125000.0  90000.0  900000.0
Sumeet   37800.0   52000.0  78438.0   38852.0

In [ ]:
Sales.drop(index='Kinshuk', inplace=True)
print(Sales)

           2015      2016     2017      2018
Madhu   12000.0   20000.0  50000.0  160000.0
Kusum   18000.0   50000.0  60000.0  110000.0
Ankit   30000.0  100000.0  80000.0  340000.0
Shruti  45000.0  125000.0  90000.0  900000.0
Sumeet  37800.0   52000.0  78438.0   38852.0

In [ ]:
Sales.rename(index={'Ankit': 'Vivaan', 'Madhu': 'Shailesh'}, inplace=True)
print(Sales)

             2015      2016     2017      2018
Shailesh  12000.0   20000.0  50000.0  160000.0
Kusum     18000.0   50000.0  60000.0  110000.0
Vivaan    30000.0  100000.0  80000.0  340000.0
Shruti    45000.0  125000.0  90000.0  900000.0
Sumeet    37800.0   52000.0  78438.0   38852.0

In [ ]:
Sales.at['Shailesh', 2018] = 100000
print(Sales)

             2015      2016     2017      2018
Shailesh  12000.0   20000.0  50000.0  100000.0
Kusum     18000.0   50000.0  60000.0  110000.0
Vivaan    30000.0  100000.0  80000.0  340000.0
Shruti    45000.0  125000.0  90000.0  900000.0
Sumeet    37800.0   52000.0  78438.0   38852.0

In [ ]:
Sales.to_csv("SalesFigures.csv", index=False, header=False)

In [ ]:
SalesRetrieved = pd.read_csv("SalesFigures.csv", header=None)
SalesRetrieved.index = Sales.index
SalesRetrieved.columns = Sales.columns
print(SalesRetrieved)

             2015      2016     2017      2018
Shailesh  12000.0   20000.0  50000.0  100000.0
Kusum     18000.0   50000.0  60000.0  110000.0
Vivaan    30000.0  100000.0  80000.0  340000.0
Shruti    45000.0  125000.0  90000.0  900000.0
Sumeet    37800.0   52000.0  78438.0   38852.0

# Exercise2
13th **Question**

In [ ]:
import pandas as pd

data = {
    'Item': ['TV', 'TV', 'TV', 'AC'],
    'Company': ['LG', 'VIDEOCON', 'LG', 'SONY'],
    'Rupees': [12000, 10000, 15000, 14000],
    'USD': [700, 650, 800, 750]
}

product_df = pd.DataFrame(data)
print(product_df)

  Item   Company  Rupees  USD
0   TV        LG   12000  700
1   TV  VIDEOCON   10000  650
2   TV        LG   15000  800
3   AC      SONY   14000  750

In [ ]:
new_data = pd.DataFrame({
    'Item': ['AC'],
    'Company': ['LG'],
    'Rupees': [16000],
    'USD': [850]
})

product_df = pd.concat([product_df, new_data], ignore_index=True)

In [ ]:
max_price = product_df[(product_df['Item'] == 'TV') & (product_df['Company'] == 'LG')]['Rupees'].max()
print("Maximum LG TV Price:", max_price)

Maximum LG TV Price: 15000

In [ ]:
median_sony = product_df[product_df['Company'] == 'SONY']['USD'].median()
print("Median USD of Sony products:", median_sony)

Median USD of Sony products: 750.0

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Carol', 'Dave', 'Emily'],
    'Degree': ['BCA', 'MBA', 'BCA', 'MBA', 'BBA'],
    'Marks': [85, 76, None, 65, 80]
}

df = pd.DataFrame(data)
print(df)

    Name Degree  Marks
0  Alice    BCA   85.0
1    Bob    MBA   76.0
2  Carol    BCA    NaN
3   Dave    MBA   65.0
4  Emily    BBA   80.0

In [ ]:
print(df.groupby('Degree')['Marks'].max())

Degree
BBA    80.0
BCA    85.0
MBA    76.0
Name: Marks, dtype: float64

In [ ]:
df['Marks'].fillna(76, inplace=True)

/tmp/ipython-input-1472793148.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Marks'].fillna(76, inplace=True)

In [ ]:
#df.reset_index(inplace=True)
df.set_index('Name', inplace=True)

In [ ]:
print(df.groupby(['Name', 'Degree'])['Marks'].mean())

Name   Degree
Alice  BCA       85.0
Bob    MBA       76.0
Carol  BCA       76.0
Dave   MBA       65.0
Emily  BBA       80.0
Name: Marks, dtype: float64

In [ ]:
mba_count = (df['Degree'] == 'MBA').sum()
print("Number of MBA students:", mba_count)

Number of MBA students: 2

In [ ]:
mode_bca = df[df['Degree'] == 'BCA']['Marks'].mode()
print("Mode marks for BCA:", mode_bca.values)

Mode marks for BCA: [76. 85.]

In [ ]:
import pandas as pd

data = {
    2014: [100.5, 150.8, 200.9, 30000, 40000],
    2015: [12000, 18000, 22000, 30000, 45000],
    2016: [20000, 50000, 70000, 100000, 125000],
    2017: [50000, 60000, 70000, 80000, 90000]
}

salespersons = ['Madhu', 'Kusum', 'Kinshuk', 'Ankit', 'Shruti']

sales = pd.DataFrame(data, index=salespersons)
print(sales)
print(sales.describe())

            2014   2015    2016   2017
Madhu      100.5  12000   20000  50000
Kusum      150.8  18000   50000  60000
Kinshuk    200.9  22000   70000  70000
Ankit    30000.0  30000  100000  80000
Shruti   40000.0  45000  125000  90000
               2014          2015         2016          2017
count      5.000000      5.000000       5.0000      5.000000
mean   14090.440000  25400.000000   73000.0000  70000.000000
std    19412.436122  12759.310326   41170.3777  15811.388301
min      100.500000  12000.000000   20000.0000  50000.000000
25%      150.800000  18000.000000   50000.0000  60000.000000
50%      200.900000  22000.000000   70000.0000  70000.000000
75%    30000.000000  30000.000000  100000.0000  80000.000000
max    40000.000000  45000.000000  125000.0000  90000.000000